/*
        SMILEDINING-SA20-0044                       18/12/2020          Customize           1. On-off Pay By Cash or Pay By Credit only delivery or pickup.
        SMILEDINING-SA20-0031#4                     08/01/2021          Customize           1. Add shopClose feature to WebSupport and Fix bug validate custom shopClose.
        SMILEDINING-SA21-0063#1                     19/10/2021          Customize           1. Remove library ExcelJS,FileSaver and Add Filter Month,Day.
        WEB-SA23-0020                               13/03/2023          Customize           1. Add setting additional charge for deliverect in webSupport.
        WEB-SA23-0049                               22/09/2023          Customize           1. Add check diff doordash on webSupport and fix bug get address for dispatch on webDining.
        WEB-SA24-0002                               02/02/2024          Customize           1. Add Order Paper Report on webSupport.
        WEB-SA24-0029                               17/10/2024          Customize           1. New Requirement - Personnel on webSupport.
        WEB-SA24-0029#2                             07/11/2024          Customize           1. Fix bug modal not closing, invalid password on account creation, and role updates in the Personnel tab on webSupport.
*/
/*--Google Font--*/
h1, h2, h3, h4, h5, h6 {
  font-family: 'Lato', sans-serif; }

p, div {
  font-family: 'Lato', sans-serif; }

.btn, .form-control {
  font-family: 'Lato', sans-serif; }

/*End Google Font*/
/* Styles for validation helpers*/
.validation-label-error {
  color: #ff0000; }

.validation-input-error {
  border: 1px solid #ff0000;
  background-color: #ffeeee; }

.input-validation-error {
  border: 1px solid #ff0000 !important;
  background-color: #ffeeee !important; }

/*.field-validation-error
{
    color: #ff0000;
}
        
.field-validation-valid
{
    display: none;
}
        
.input-validation-error
{
    border: 1px solid #ff0000 !important;
    background-color: #ffeeee !important;
}
        
.validation-summary-errors
{
    font-weight: bold !important;
    color: #ff0000 !important;
}
        
.validation-summary-valid
{
    display: none;
}*/
/*End validation*/
/*geocomplete not work in modal*/
.pac-container {
  z-index: 9999999999 !important; }

/*end geocomplete*/
/*badge*/
.badge.full {
  font-size: 100%; }

/*Loading*/
/*https://ihatetomatoes.net/create-custom-preloading-screen/*/
#loader-wrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1000; }

#loader {
  display: block;
  position: relative;
  left: 50%;
  top: 50%;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #3498db;
  -webkit-animation: spin 2s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 2s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */
  z-index: 1001; }

#loader:before {
  content: "";
  position: absolute;
  top: 5px;
  left: 5px;
  right: 5px;
  bottom: 5px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #e74c3c;
  -webkit-animation: spin 3s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 3s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

#loader:after {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  border-radius: 50%;
  border: 3px solid transparent;
  border-top-color: #f9c922;
  -webkit-animation: spin 1.5s linear infinite;
  /* Chrome, Opera 15+, Safari 5+ */
  animation: spin 1.5s linear infinite;
  /* Chrome, Firefox 16+, IE 10+, Opera */ }

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

@keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(0deg);
    /* IE 9 */
    transform: rotate(0deg);
    /* Firefox 16+, IE 10+, Opera */ }
  100% {
    -webkit-transform: rotate(360deg);
    /* Chrome, Opera 15+, Safari 3.1+ */
    -ms-transform: rotate(360deg);
    /* IE 9 */
    transform: rotate(360deg);
    /* Firefox 16+, IE 10+, Opera */ } }

#loader-wrapper .loader-section {
  position: fixed;
  top: 0;
  width: 51%;
  height: 100%;
  background: #FFF;
  z-index: 1000;
  -webkit-transform: translateX(0);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateX(0);
  /* IE 9 */
  transform: translateX(0);
  /* Firefox 16+, IE 10+, Opera */ }

#loader-wrapper .loader-section.section-left {
  left: 0; }

#loader-wrapper .loader-section.section-right {
  right: 0; }

/* Loaded */
/*.loaded #loader-wrapper .loader-section.section-left {
    -webkit-transform: translateX(-100%);  
        -ms-transform: translateX(-100%);  
            transform: translateX(-100%); 

    -webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
            transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}

.loaded #loader-wrapper .loader-section.section-right {
    -webkit-transform: translateX(100%);  
        -ms-transform: translateX(100%);  
            transform: translateX(100%); 

-webkit-transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);  
    transition: all 0.7s 0.3s cubic-bezier(0.645, 0.045, 0.355, 1.000);
}*/
.loaded #loader {
  opacity: 0;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out; }

.loaded #loader-wrapper {
  visibility: hidden;
  -webkit-transform: translateY(-100%);
  /* Chrome, Opera 15+, Safari 3.1+ */
  -ms-transform: translateY(-100%);
  /* IE 9 */
  transform: translateY(-100%);
  /* Firefox 16+, IE 10+, Opera */
  -webkit-transition: all 0.3s 1s ease-out;
  transition: all 0.3s 1s ease-out; }

/*End Loading*/
audio {
  width: 100px;
  height: 60px; }

/*Added by SMILEDINING-SA20-0044*/
.gb_padding-top-15px {
  padding-top: 15px; }

.gb_margin-bottom-10px {
  margin-bottom: 10px; }

/*End Added by SMILEDINING-SA20-0044*/
/*Added by SMILEDINING-SA20-0044*/
.gb_padding-top-15px {
  padding-top: 15px; }

.gb_margin-bottom-10px {
  margin-bottom: 10px; }

/*End Added by SMILEDINING-SA20-0044*/
.gb_margin-left-5px {
  margin-left: 5px; }

.gb_margin-left-minus-10px {
  margin-left: -10px; }

.gb_margin-top-8px {
  margin-top: 8px; }

.gb_margin-top-5px {
  margin-top: 5px; }

.gb_no-margin {
  margin: 0px; }

.gb_margin-x-5px {
  margin-left: 5px;
  margin-right: 5px; }

.switch-custom .dx-switch-container {
  margin: -5px -6px 0 0;
  height: 33px; }
  .switch-custom .dx-switch-container .dx-switch-on, .switch-custom .dx-switch-container .dx-switch-off {
    padding-top: 5px;
    padding-right: 20px;
    padding-left: 3px;
    font-size: 0.8rem;
    font-weight: bold;
    color: #000; }
  .switch-custom .dx-switch-container .dx-switch-handle {
    height: 27px; }

.gb_padding-top-5px {
  padding-top: 5px; }

.btn-circle {
  text-align: center;
  padding: 5px 3px;
  font-size: 20px;
  line-height: 1.428571429;
  border-radius: 20px; }

.support-tabs-wrapper input[type=radio] {
  display: none; }

.support-tabs-wrapper label.button {
  -moz-transition: background 0.4s ease-in-out, height 0.2s linear;
  -o-transition: background 0.4s ease-in-out, height 0.2s linear;
  -webkit-transition: background 0.4s ease-in-out, height 0.2s linear;
  transition: background 0.4s ease-in-out, height 0.2s linear;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background: #f0ad4e;
  text-align: center; }
  .support-tabs-wrapper label.button:last-of-type {
    border-bottom: none; }
  .support-tabs-wrapper label.button:hover {
    background: #F58E00; }

.hr-orange {
  border-top-color: #F57C00; }

.custom-scrollbar::-webkit-scrollbar {
  width: 7.5px; }

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #C9C9C9;
  border-radius: 4px; }

.circle-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  border: 1px solid #496EE2;
  background-color: #496EE2; }
  .circle-icon i {
    font-size: 20px;
    color: #fff; }

.support-tabs-slide .support-tab {
  cursor: pointer;
  margin-right: 26px; }
  .support-tabs-slide .support-tab .name {
    font-size: 1rem;
    color: #959595; }
  .support-tabs-slide .support-tab .underline {
    height: 5px;
    border-radius: 2px;
    background: inherit;
    margin-top: 2px; }
  .support-tabs-slide .support-tab.active .name {
    font-weight: 600;
    color: #333; }
  .support-tabs-slide .support-tab.active .underline {
    background: #3C3C3C; }

@media screen and (prefers-reduced-motion: reduce) {
  .fade {
    transition: opacity 0.15s linear !important; }
  .modal.fade .modal-dialog {
    transition: transform 0.3s ease-out !important; } }
