/*
    SMILEDINING-SA18-0016      07/16/2018      Customize  1. Migrate Bootstrap to version 4.1
    SMILEDINING-SA21-0063      07/10/2021      Customize  1. Add menu Marketing on web owner and Add menu Log on web support.
    SMILEDINING-SA21-0081#1    21/12/2021      Customize  1. Edit class name shimmer and Add swal when get data fail. 
    SMILEDINING-SA22-0017      06/06/2022      Customize  1. Add menu AutoUpdate in webSupport.
    SMILEDINING-SA22-0022      15/06/2022      Customize  1. Add menu Delivery Billing in webSupport. 
    WEB-SA23-0056              20/12/2023      Customize  1. Add Service Fee Report on webSupport, webDining, webOnTable.
    WEB-SA24-0029              17/10/2024      Customize  1. New Requirement - Personnel on webSupport.
*/

@import "mixin/_variables.scss";
@import "mixin/_breakpoints.scss";


.group-shortcut{
    position: relative;
}

.nav-mobile{
    tr td span a{
        display: block;
        text-decoration: none;
        color: #FFF;
    }
}
//Modified by SMILEDINING-SA21-0063
/*.menu-monitor, .menu-setup, .menu-owner{
     margin-top: 60px;
}*/
//End Modified by SMILEDINING-SA21-0063

//Added by SMILEDINING-SA21-0063
/*.menu-monitor, .menu-setup, .menu-owner, .menu-log {*/ //Modified and End by SMILEDINING-SA21-0081#1
//.menu-monitor, .menu-setup, .menu-owner, .menu-log, .menu-summary, .menu-marketing { //Added and End by SMILEDINING-SA21-0081#1 //Modified and End by SMILEDINING-SA22-0017
//.menu-monitor, .menu-setup, .menu-owner, .menu-log, .menu-summary, .menu-marketing, .menu-autoupdate { //Added and End by SMILEDINING-SA22-0017 //Modified and End by SMILEDINING-SA22-0022
//.menu-monitor, .menu-setup, .menu-owner, .menu-log, .menu-summary, .menu-marketing, .menu-autoupdate, .menu-deliverybilling { //Added and End by SMILEDINING-SA22-0022 //Modified and End by WEB-SA23-0056
//.menu-monitor, .menu-setup, .menu-owner, .menu-log, .menu-summary, .menu-marketing, .menu-autoupdate, .menu-deliverybilling, .menu-report { //Added and End by WEB-SA23-0056 //Modified and End by WEB-SA24-0029
.menu-monitor, 
.menu-setup, 
.menu-owner, 
.menu-log, 
.menu-summary, 
.menu-marketing, 
.menu-autoupdate, 
.menu-deliverybilling, 
.menu-report, 
.menu-personnel { //Added and End by WEB-SA24-0029
    margin-top: 60px;
}
//End Added by SMILEDINING-SA21-0063
//Modified by SMILEDINING-SA18-0016
/*
@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
    .menu-monitor, .menu-setup, .menu-owner{
         margin-top: 50px;
    }
}
*/
//End Modified by SMILEDINING-SA18-0016

/*Mobile*/
.menu-mobile{
    .fa{
        width: 25px;
    }
    thead{
        th{
            font-size: 1.5rem;
        }
    }
    tr {
        cursor: pointer;
        td{
            font-size: 1.25rem;
            padding-left: 25px;
        }
        td i{
            text-align:center;
            padding-right: 5px;
        }
    }

    .logo-mobile{
        &.absolute{
            position: absolute; 
            left: 50%;
        }
        .relative{
            position: relative; 
            left: -50%;
            top: -30px;
        }
        img{
            margin-top: -25px;
            height: 70px;
        }
    }

    .navbar-collapse{
        position: absolute; 
        right: 15px; 
        top: 8px;
    }
}

@include media-breakpoint-down(xs){
    //.menu-monitor, .menu-setup, .menu-owner{ //Modified and End by SMILEDINING-SA21-0081#1
    //.menu-monitor, .menu-setup, .menu-owner,.menu-summary, .menu-marketing { //Added and End by SMILEDINING-SA21-0081#1 //Modified and End by SMILEDINING-SA22-0017
    //.menu-monitor, .menu-setup, .menu-owner,.menu-summary, .menu-marketing, .menu-autoupdate { //Added and End by SMILEDINING-SA22-0017 //Modified and End by SMILEDINING-SA22-0022
    //.menu-monitor, .menu-setup, .menu-owner,.menu-summary, .menu-marketing, .menu-autoupdate, .menu-deliverybilling { //Added and End by SMILEDINING-SA22-0022 //Modified and End by WEB-SA23-0056
    //.menu-monitor, .menu-setup, .menu-owner,.menu-summary, .menu-marketing, .menu-autoupdate, .menu-deliverybilling, .menu-report { //Added and End by WEB-SA23-0056 //Modified and End by WEB-SA24-0029
    .menu-monitor, 
    .menu-setup, 
    .menu-owner,
    .menu-summary, 
    .menu-marketing, 
    .menu-autoupdate, 
    .menu-deliverybilling, 
    .menu-report, 
    .menu-personnel { //Added and End by WEB-SA24-0029
         margin-top: 20px;
    }
    @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
        //.menu-monitor, .menu-setup, .menu-owner{ //Modified and End by SMILEDINING-SA21-0081#1
         //.menu-monitor, .menu-setup, .menu-owner,.menu-summary, .menu-marketing {  //Added and End by SMILEDINING-SA21-0081#1 //Modified and End by SMILEDINING-SA22-0017
         //.menu-monitor, .menu-setup, .menu-owner,.menu-summary, .menu-marketing, .menu-autoupdate {  //Added and End by SMILEDINING-SA22-0017 //Modified and End by SMILEDINING-SA22-0022
         //.menu-monitor, .menu-setup, .menu-owner,.menu-summary, .menu-marketing, .menu-autoupdate, .menu-deliverybilling {  //Added and End by SMILEDINING-SA22-0022 //Modified and End by WEB-SA23-0056
         //.menu-monitor, .menu-setup, .menu-owner,.menu-summary, .menu-marketing, .menu-autoupdate, .menu-deliverybilling, .menu-report {  //Added and End by WEB-SA23-0056 //Modified and End by WEB-SA24-0029
         .menu-monitor, 
         .menu-setup, 
         .menu-owner,
         .menu-summary, 
         .menu-marketing, 
         .menu-autoupdate, 
         .menu-deliverybilling, 
         .menu-report, 
         .menu-personnel {  //Added and End by WEB-SA24-0029
             margin-top: 20px;
        }
    }
}


